// Colors
$black: #000000;
$black-nice: #0f0f0f;
$anthracite-grey: #141414;
$grey: #424242;
$middle-grey: #b1b1b1;
$soft-grey: #b1b1b1;
$light-grey: #dddddd;
$off-white: #fafafa;
$egg-shell: #f9f9fa;
$white: #ffffff;
$purple: #4353ff;
