@import "../../_settings/variables";
.signin {
  display: flex;
  flex-direction: column;
  &_image {
    text-align: center;
    height: 20vh;
    & img {
      height: 100%;
      width: auto;
    }
  }
  &_title {
    padding-top: 5%;
    text-align: center;
  }
  &_form {
    padding: 8%;
  }
  &_button {
    padding: 7% 0;
    text-align: center;
    & button {
      font-weight: bold;
      font-size: 1.7rem;
      padding: 7px;
      border: none;
      border-radius: 7px;
      background-color: $purple;
      color: $off-white;
      cursor: pointer;
    }
  }
}
