@import "../../_settings/variables";
.button {
  & button {
    font-weight: bold;
    font-size: 1.7rem;
    padding: 7px;
    border: none;
    border-radius: 7px;
    background-color: $purple;
    color: $off-white;
    cursor: pointer;
  }
}
